.container {
    width: 100%;
    display: flex;
    background: #F7F7F7;
    border-radius: 16px;
    padding: 32px 48px;
}

.button {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 45px;
    border: 2px solid #1D3778;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #414141;
    margin-left: 30px;
    max-width: 400px;

}

.imageWrapper {
    width: 60px;
    height: 60px;
}

.columnWrapper {
    display: flex;
    flex-direction: column;
}

.flexWrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 64px;
}
